:root {
  --title-text-color: #212121;
  --maket-color: #ffffff;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --work-bg: rgba(47, 48, 58, 0.8);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--maket-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*Header*/

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  margin-right: 93px;
}
.address-header {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}
.address-header__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-header__link:hover,
.address-header__link:focus {
  color: var(--accent-color);
}

.logo-header {
  color: #000000;
}
.logo-footer {
  color: var(--maket-color);
}
.nav {
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-header__logo {
  margin-right: 10px;
  fill: currentColor;
}
.address-header__logo:hover,
.address-header__logo:focus {
  color: var(--accent-color);
}

/* Page header */

.address-header__link .item:last-child {
  margin-right: 0;
  padding-right: 215px;
}
.address-header__link .item:not(:last-child) {
  margin-right: 50px;
  margin-left: 300px;
}

/*Hero-title*/

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero__title {
  color: var(--maket-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.button.primary {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--maket-color);
  background: var(--accent-color);
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.06);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 40px;
}
.modal-close {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-close__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

/*Modal window*/
.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form__group {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.modal-form__textarea {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover,
.modal-form__input:focus {
  border: 1px solid var(--accent-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover ~ .modal-form__icon {
  fill: var(--accent-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  fill: var(--title-text-color);
  top: 50%;
  left: 15px;
}

textarea {
  height: 120px;
  resize: none;
  padding: 16px 12px;
}
.modal-form__input--feedback {
  width: 100%;
  height: 120px;
  border: 1px solid #21212133;
  border-radius: 4px;

  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input--feedback:hover,
.modal-form__input--feedback:focus {
  border: 1px solid var(--accent-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Agreement section*/
.agreement {
  padding-left: px;
}
/*Check-box custom*/
.modal-form-checkbox {
  width: 16px;
  height: 15px;
}
/* Option */

.option {
  display: block;
  margin-bottom: 0.5em;
  position: relative;
}

/* Check */

.check {
  margin-left: 13px;
  padding-left: 1.2em;
  gap: 9px;
}

.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4a90e2;
}

/* Checked */
.check__input:checked + .check__box {
  background-color: #4a90e2;
  background-image: url("./images/icons-new.svg#icon-check");
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #4a90e2;
}

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check__input:checked:disabled + .check__box {
  background-color: #9b9b9b;
}

/*Agreement link*/
.agreement-giving {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: right;
  color: #757575;
}
.agreement__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: right;
  color: #2196f3;
}

.modal-form-btn {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 52px;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--maket-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 6%;
  color: var(--maket-color);
}

/* Section advantages*/

.pattern-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  display: flex;
  gap: 30px;
}

.advantages__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.advantages__description {
  line-height: 1.71;
  color: var(--primary-text-color);
}
.advantages-icons-list {
  display: flex;
  gap: 30px;
}
.advantages__box {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

/* Title secondary-Our works*/

.work {
  padding-top: 0;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__descr {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--maket-color);
  background-color: var(--work-bg);
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* Team*/

.team {
  background: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team-members {
  display: flex;
  gap: 30px;
}
.team-members__item {
  background-color: var(--maket-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-members__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-members__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}
.team-members__title {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);

  color: var(--maket-color);
}
.social__icon {
  fill: currentColor;
}

/*Section Our clients*/

.our-clients__section {
  padding: 94px, auto;
}
.our-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  padding-top: 94px;
}
.clients {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4%;
  color: #afb1b8;
  border: solid currentColor 1px;
  fill: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
}

.client__item {
  width: 170px;
  height: 92px;
}

.client__icon:hover,
.client__icon:focus {
  fill: currentColor;
}
/*Section footer*/

.footer__section {
  background: #2f303a;
  padding: 60px 0;
  display: flex;
}
.common-wrap-footer {
  display: flex;
  align-items: baseline;
}
.first-footer {
  margin-right: 70px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer {
  margin-top: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}
.link-address-footer {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--maket-color);
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address-footer:hover,
.link-address-footer:focus {
  color: var(--accent-color);
}
/*Footer social links*/

.section-title-social-footer {
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-left: auto;
}
.social-footer {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  fill: currentColor;
  transition-property: background color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.social-icon-footer {
  color: var(--maket-color);
}

/*Footer subscription form*/

.section-title-social-footer {
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: bold;
}
.form-input-subsr {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: #2f303a;
  transition-property: background-color;
  transition-duration: 1250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-subsr:hover,
.form-input-subsr:focus {
  background-color: var(--maket-color);
}

input {
  resize: none;
}
.subsription-section {
  margin-left: auto;
}

.button-send-footer {
  position: relative;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--maket-color);
  background: var(--accent-color);
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: 12px;
}
.send-icon-footer {
  position: absolute;
  transform: translate(50%, 40%);
  fill: #ffffff;
}

.modal-form-group-footer {
  display: flex;
}
.form-input-footer {
  width: 358px;
  height: 50px;
}

/*Portfolio-page*/

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.button.secondary {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
  padding: 6px 25px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--maket-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Portfolio examples*/

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__element {
  width: 370px;
}
.portfolio__link {
  display: block;
  outline: transparent;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_overlay {
  position: relative;
  overflow: hidden;
}
.portfolio_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio_wrap,
.portfolio__link:focus .portfolio_wrap {
  transform: translateY(0);
  opacity: 1;
}
.portfolio__descr {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--maket-color);
  background-color: rgba(33, 149, 243, 0.781);
}
.portfolio-box {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
}

.portfolio-box__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.portfolio-box__description {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__element {
  position: relative;
}

/*

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 94px;
  padding-bottom: 94px;
}

// -------------- Миксин для адаптивки -------------
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: 767px) {
    @content;
  }
}

// вызов mixin-a
// .any-class {
//   @include mobile {
//     background-color: red;
//   }
// }



@media screen and (max-width:1199px) {
  width: 95%;
  max-width: 450px;
  height: 95%;
  max-height: 609px;
  overflow: scroll;
}


*/
