/*Section Our clients*/

// .our-clients__section {
//   padding: 94px, auto;
// }
.our-clients__title {
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.clients {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.client__item {
  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .client__item {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 479px) {
  .client__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4%;
  color: #afb1b8;
  border: solid currentColor 1px;
  fill: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
}

.client__icon:hover,
.client__icon:focus {
  fill: currentColor;
}
