.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-container {
  position: absolute;
  display: flex;
  align-items: center;
}
/*здесь плейсхолдер, но я не удалял его из html*/
.address-header {
  @extend %list;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    display: block;
  }
}
.address-header__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.address-header__link:hover,
.address-header__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-header__logo {
  margin-right: 10px;
  fill: currentColor;
}
.address-header__logo:hover,
.address-header__logo:focus {
  color: var(--accent-color);
}

.address-header__link .item:last-child {
  margin-right: 0;
  padding-right: 215px;
}
.address-header__link .item:not(:last-child) {
  margin-right: 50px;
  margin-left: 300px;
}
