.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--maket-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
  }

  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #212121;
  text-decoration: none;
}

.mobile-menu__item {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu__item:hover,
.mobile-menu__item:focus {
  color: var(--accent-color);
}

// .mobile-contacts-link {
//   font-size: 34px;
//   font-weight: 500;
//   line-height: 1.17;
//   letter-spacing: 0.02em;
//   text-align: left;
// }
.mobile-contacts {
  margin-bottom: auto;
}
// .mobile-contacts-item {
//   color: aqua;
//   font-size: 34px;
//   font-weight: 500;
//   line-height: 1.17;
//   letter-spacing: 0.02em;
//   text-align: left;
// }
.mobile-socials {
  display: flex;
  gap: 20px;
}
.mobile-social__link {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
}
.mobile-contacts-tel {
  font-size: 34px;
  color: #2196f3;
  line-height: 1.27;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 32px;
}
.mobile-contacts-link {
  font-size: 24px;
  color: #757575;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-align: left;
}
.js-close-menu:hover {
  fill: var(--accent-color);
}
