/* Team*/

.team {
  background: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team-members {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-members__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-members__item {
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  background-color: var(--maket-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-members__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-members__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}
.team-members__title {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);

  color: var(--maket-color);
}
.social__icon {
  fill: currentColor;
}
