/*сбросы*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
